:root {
--primary:
#2563eb;
--success:
#22c55e;
--danger:
#ef4444;
--background:
#136fcc;
}

.container{
    max-width: max-content;
    background:var(--background);
    margin-top: 60px !important;
    font-family: "Metal Mania", system-ui;
}

.action-column{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.clients-table {
    font-size: 1rem;
    font-family: "Metal Mania", system-ui;
}

.clients-table .buttonprueba{
    font-family: "Metal Mania", system-ui;
}


@media (max-width: 768px) {
    .clients-table {
    font-size: 0.8rem;
    background-color: blue;
}
}

#count-clients{
    text-align: center;
    background-color: #bbb6b6;
}

h2{
    text-align: center;
    color:#2d63eb;
    font-size: xx-large; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}